#contenedor
{
  border-top-left-radius: 20px;
  height: auto;
  width: 48%;
  margin: auto;
  margin-top: 5%;
    
}
#cabecera
{
  padding: 2%;
  background-image: url('img/cabecera.jpg');
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
#logo
{
  float: left;
}
#buscador
{
  padding-top: 2%;

}

#contenido
{
  float: left;
  box-sizing: content-box;
}
#principal
{
  float: left;
  margin: 10px;
  margin-right: 0;
  margin-top: 1%;
  width: 75%;
  border-top-left-radius: 20px;
  background-image: radial-gradient(rgb(253, 253, 253), rgb(185, 186, 246));
}
#articulo
{
  padding: 2%;
  margin: 1%;
  border-top-left-radius: 20px;
  background-image: radial-gradient(rgb(253, 253, 253), rgb(185, 186, 246));
}
#articulo h2
{
  margin: 0 -20px;
  padding: 1%;
  background: #CEDBF9;
  color: #1d308d;
}
#secundario
{
  border-top-right-radius: 20px;
  float: left;
  width: 20%;
  margin: 15px;
  margin-left: 0;
  background: #CEDBF9 url("../imagenes/fondo_columna.gif") no-repeat;
}
#pie
{
  float:inline-end;
}

#menu ul {
  align-items: center;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #253575;
  color: #B5C4E3;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
    color:black;
}
.active {
  background-color: #04AA6D;
}

#secundario h3 {
  border-top-right-radius: 20px;
  margin-top: 2%;
  padding: 10px 0 10px 10px;
  background: #7795d6;
  color: #1a2b81;
}
 
#secundario #sobremi img {
  border-top-right-radius: 20px;
  float: left;
  margin: 4px 5px;
}
 
#secundario #sobremi p {
}
 
#secundario div {
  padding: 0 10px;
}
 
#secundario ul {
  margin: 15px 0;
  list-style:none;
}
 
#secundario li {
  border-bottom: 1px solid #d7e3fd;
}
 
 #secundario li a {
  display: block;
  padding: 3px 0 3px 22px;
  background: url("../imagenes/icono_elemento.gif") 8px;
  text-decoration: none;
}
#secundario li a:hover {
  background-color: #4877dd;
  color: #1a2b81;
}
 #secundario li.seleccionado a {
  font-weight: bold;
  background: #d7e3fd url("../imagenes/icono_elemento_seleccionado.gif") 8px no-repeat;
  
 }