<header>
  <div class="header">
    <h1>Estudis de grau superior d'Informàtica</h1>
  </div>
  <link rel="stylesheet" href="webAdap1.css">
</header>

<content>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <nav>
          <div class="col-3 menu">
            <ul>
              <li>ASIX</li>
              <li>DAM</li>
              <li>DAW</li>
            </ul>
          </div>
        </nav>
        <div class="col-9">
          <article>
            <h2>M1. Sistemes informàtics</h2>
            <p>Bloc 1. 118 hores (8 hores setmanals)</p>
            <p>Bloc 2. 80 hores (5 hores setmanals)</p>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <article>
            <h2>M2. Bases de dades</h2>
            <p>Bloc 1. 132 hores (9 hores setmanals)</p>
            <p>Bloc 2. 99 hores (7 hores setmanals). Inclou treball en equip i pràctica virtual obligatòria.</p>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <article>
            <h2>M3. Programació</h2>
            <p>Bloc 1. 85 hores (5 hores setmanals). Inclou treball en equip i pràctica virtual obligatòria.</p>
            <p>Bloc 2. 80 hores (5 hores setmanals). Inclou treball en equip i pràctica virtual obligatòria.</p>
          </article>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <aside>
            <div class="aside">
              <p> links d'interès</p>
            </div>
          </aside>
        </div>
      </div>
    </div>

  </div>
</content>

<footer>
  <div class="footer">
    <p>Escola del treball   Barcelona</p>
  </div>
</footer>